<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/images/umc_logo.ico">
        <title>Add User | UMC</title>
    </head>
    <body>
        <header>

        <img width="50" height="50" src="../static/images/umc_logo.png" alt="logo" class="image-spacing" />
        
        <h1>Add<br>Users</h1>

        <form method="post">
            <h3>First Name:</h3>
            <input type="text" name="au-firstname" class="login-input" required/>
            <br>
            <h3>Last Name:</h3>
            <input type="text" name="au-lastname" class="login-input" required/>
            <br>
            <h3>Email:</h3>
            <input type="text" name="au-email" class="login-input" required/>
            <br>
            <br>
            {% for i in get_flashed_messages()%}
                <h3>{{ i }}</h3>
            {% endfor %}
            <br>
            <input type="submit" value="Add User" class="add-user-button"/><br>      
        </form>
        
        <a href="{{ url_for('umc') }}">
            <button class="create-user-button">
                Back
            </button>
        </a>

        <div class="login-page-spacing"></div>

        <hr style="width:15%">
        <br>
        <a href="https://instagram.com/KelvGooding" target="_blank">Instagram</a> | <a href="https://github.com/KGoodz93" target="_blank">Github</a>
        <br>
        <br>
        Created by Kelv Gooding
        <br>
        © 2022 All rights reserved.
        </header>
        <main>
        </main>
        <footer>
        </footer>
    </body>
</html>