<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/images/umc_logo.ico">
        <title>Delete Users | UMC</title>
    </head>
    <body>
        <header>

        <img width="50" height="50" src="../static/images/umc_logo.png" alt="logo" class="image-spacing" />
        <h1>Delete<br>Users</h1>
        <br>

        <form>
            <h3>Select a User:</h3>
            <select name="dropdownbox" id="dropdown" class="delete-users-dropdown">
                <option value=""></option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
            <br>
            <br>
        </form>
        
        <a href="{{ url_for('umc') }}">
            <button class="delete-users-button">
                Back
            </button>
        </a>

        <div class="login-page-spacing"></div>

        <hr style="width:30%">
        <br>
        <a href="https://instagram.com/KelvGooding" target="_blank">Instagram</a> | <a href="https://github.com/KGoodz93" target="_blank">Github</a>
        <br>
        <br>
        Created by Kelv Gooding
        <br>
        © 2022 All rights reserved.
        </header>
        <main>
        </main>
        <footer>
        </footer>
    </body>
</html>