<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/img/umc_icon.ico">
        <title>Delete User | UMC</title>
    </head>
    <body>
        <header>
        </header>
        <main>

        <img width="50" height="50" src="../static/img/umc_logo.png" alt="logo" class="image-spacing" />

        <h1>Delete<br>User</h1>

        <form method="post">
            <h3>Select Username:</h3>
            <select name="delete-dropdownbox" id="dropdown" class="password-reset-dropdown">
                <option value=""></option>
                {% for i in list1 %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            {% for i in get_flashed_messages()%}
                <h3>{{ i }}</h3>
            {% endfor %}
            <br>
            <input type="submit" value="Delete User" class="password-reset-button"/><br>      
        </form>
        
        <a href="{{ url_for('umc') }}">
            <button class="add-user-button">
                Back
            </button>
        </a>

        <div class="login-page-spacing"></div>

        <hr>
        <br>
        <footer class="footer-icons">
            <a href="https://livelifeautomate.co.uk/" target="_blank"><img src="../static/img/icon-web.png"></a>
            <a href="https://instagram.com/KelvGooding" target="_blank"><img src="../static/img/icon-ig.png"></a>
            <a href="https://github.com/KelvGooding" target="_blank"><img src="../static/img/icon-github.png"></a>
            <br>
            <br>
            Created by Kelv Gooding
            <br>
            © 2022 All rights reserved.
        </footer>
    </body>
</html>