<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/images/umc_icon.ico">
        <title>Home | UMC</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <img width="50" height="50" src="../static/images/umc_logo.png" alt="logo" class="image-spacing" /><br>            

            <h1>User Management<br>Console</h1>
            <br>
            
            <a href="{{ url_for('login') }}">
                <button class="index-button">
                    Login
                </button>
            </a>
    
            <br>
    
            <a href="{{ url_for('create_user') }}">
                <button class="index-button">
                    Create Account
                </button>
            </a>
    
            <br>
    
            <div class="page-spacing"></div>
    
            <hr>        
            <br>
        </main>
        <footer class="footer-icons">
            <a href="https://livelifeautomate.co.uk/" target="_blank"><img src="../static/images/icon-web.png"></a>
            <a href="https://instagram.com/KelvGooding" target="_blank"><img src="../static/images/icon-ig.png"></a>
            <a href="https://github.com/KelvGooding" target="_blank"><img src="../static/images/icon-github.png"></a>
            <br>
            <br>
            Created by Kelv Gooding
            <br>
            © 2022 All rights reserved.
        </footer>
    </body>
</html>
