<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/img/umc_icon.ico">
        <title>Login | UMC</title>
    </head>
    <body>
        <header>
        </header>
        <main>

        <img width="50" height="50" src="../static/img/umc_logo.png" alt="logo" class="image-spacing" /><br>            

        <h1>Login</h1>

        <p>Don't have an account? Click <a href="{{ url_for('create_user') }}">Here</a><br>Unable to log in? Reset your password <a href="{{ url_for('login_pw_reset') }}">Here</a></p>

        <form method="post">
            <h3>Username:</h3>
            <input type="text" name="login-username" class="login-input" required/>
            <br>
            <h3>Password:</h3>
            <input type="password" name="login-password" class="login-input" required/>
            <br>
            <br>
            {% for i in get_flashed_messages()%}
                <h3>{{i}}</h3>
            {% endfor %}
            <br>
            <input type="submit" value="Login" class="login-button"/><br>      
        </form>
        
        <a href="{{ url_for('index') }}">
            <button class="login-button" onclick="alerted()">
                Back
            </button>
        </a>

        <script src="../static/js/js-script.js"></script>

        </main>
        <footer>
        </footer>
    </body>
</html>