<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/images/umc_logo.ico">
        <title>Login | UMC</title>
    </head>
    <body>
        <header>

        <img width="50" height="50" src="../static/images/umc_logo.png" alt="logo" class="image-spacing" /><br>            

        <div class="login-page-spacing"></div>

        <form method="post">
            <h3>Username:</h3>
            <input type="text" name="login-username" class="login-input" required/>
            <br>
            <h3>Password:</h3>
            <input type="password" name="login-password" class="login-input" required/>
            <br>
            <br>
            {% for i in get_flashed_messages()%}
                <h3>{{i}}</h3>
            {% endfor %}
            <br>
            <input type="submit" value="Login" class="login-button"/><br>      
        </form>
        
        <a href="{{ url_for('index') }}">
            <button class="login-button">
                Back
            </button>
        </a>

        <div class="login-page-spacing"></div>

        <br>
        <h5>Don't have an account? Click <a href="{{ url_for('create_user') }}">Here</a><br>Click <a href="{{ url_for('password_reset') }}">Here</a> to reset your password.</h5>


        <hr style="width:30%">
        <br>
        <a href="https://instagram.com/KelvGooding" target="_blank">Instagram</a> | <a href="https://github.com/KGoodz93" target="_blank">Github</a>
        <br>
        <br>
        Created by Kelv Gooding
        <br>
        © 2022 All rights reserved.
        </header>
        <main>
        </main>
        <footer>
        </footer>
    </body>
</html>