<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/images/umc_logo.ico">
        <title>Password Reset | UMC</title>
    </head>
    <body>
        <header>

        <img width="50" height="50" src="../static/images/umc_logo.png" alt="logo" class="image-spacing" />

        <h1>Password<br>Reset</h1>

        <form method="post">
            <h3>Select Username:</h3>
            <select name="dropdownbox" id="dropdown" class="password-reset-dropdown">
                <option value=""></option>
                {% for i in list1 %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <br>
            <h3>Enter current password:</h3>
            <input type="password" name="password-input" class="login-input"/>
            <br>
            <h3>Enter a new Password:</h3>
            <input type="password" name="password-input1" class="login-input"/>
            <br>
            <h3>Re-enter new Password:</h3>
            <input type="password" name="password-input2" class="login-input"/>
            <br>
            <br>
            {% for i in get_flashed_messages()%}
                <h3>{{ i }}</h3>
            {% endfor %}
            <br>
            <input type="submit" value="Reset Password" class="password-reset-button"/><br>      
        </form>
        
        <a href="{{ url_for('umc') }}">
            <button class="add-user-button">
                Back
            </button>
        </a>

        <div class="login-page-spacing"></div>

        <hr style="width:15%">
        <br>
        <a href="https://instagram.com/KelvGooding" target="_blank">Instagram</a> | <a href="https://github.com/KGoodz93" target="_blank">Github</a>
        <br>
        <br>
        Created by Kelv Gooding
        <br>
        © 2022 All rights reserved.
        </header>
        <main>
        </main>
        <footer>
        </footer>
    </body>
</html>