<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/images/umc_logo.ico">
        <title>Dashboard | UMC</title>
    </head>
    <body>
        <header>

        <img width="50" height="50" src="../static/images/umc_logo.png" alt="logo" class="image-spacing" /><br>            
        
        <h1>Admin<br>Dashboard</h1>
        <br>
               
        <a href="{{ url_for('view_users') }}">
            <button class="umc-button">
                View Users
            </button>
        </a>

        <br>

        <a href="{{ url_for('add_users') }}">
            <button class="umc-button">
                Add Users
            </button>
        </a>

        <br>

        <a href="{{ url_for('delete_users') }}">
            <button class="umc-button">
                Delete Users
            </button>
        </a>

        <br>

        <a href="{{ url_for('password_reset') }}">
            <button class="umc-button">
                Password Reset
            </button>
        </a>

        <br>

        <a href="{{ url_for('index') }}">
            <button class="umc-button">
                Log Out
            </button>
        </a>

        <br>

        <div class="umc-page-spacing"></div>

        <hr style="width:15%">
        <br>
        <a href="https://instagram.com/KelvGooding" target="_blank">Instagram</a> | <a href="https://github.com/KGoodz93" target="_blank">Github</a>
        <br>
        <br>
        Created by Kelv Gooding
        <br>
        © 2022 All rights reserved.
        </header>
        <main>
        </main>
        <footer>
        </footer>
    </body>
</html>